@import "tailwindcss";
@import "@astrojs/starlight-tailwind";
/* @import "tailwindcss/theme.css" layer(theme); */
/* @import "tailwindcss/utilities.css" layer(utilities); */
/* @layer base, starlight, theme, components, utilities; */

@theme {
  --font-sans: "Alata", sans-serif;
  --font-mono: "Quicksand Variable", monospace;
  --color-accent-50: var(--color-indigo-50);
  --color-accent-100: var(--color-indigo-100);
  --color-accent-200: var(--color-indigo-200);
  --color-accent-300: var(--color-indigo-300);
  --color-accent-400: var(--color-indigo-400);
  --color-accent-500: var(--color-indigo-500);
  --color-accent-600: var(--color-indigo-600);
  --color-accent-700: var(--color-indigo-700);
  --color-accent-800: var(--color-indigo-800);
  --color-accent-900: var(--color-indigo-900);
  --color-accent-950: var(--color-indigo-950);
  --color-gray-50: var(--color-zinc-50);
  --color-gray-100: var(--color-zinc-100);
  --color-gray-200: var(--color-zinc-200);
  --color-gray-300: var(--color-zinc-300);
  --color-gray-400: var(--color-zinc-400);
  --color-gray-500: var(--color-zinc-500);
  --color-gray-600: var(--color-zinc-600);
  --color-gray-700: var(--color-zinc-700);
  --color-gray-800: var(--color-zinc-800);
  --color-gray-900: var(--color-zinc-900);
  --color-gray-950: var(--color-zinc-950);
}

/* .hero  img{
  width: 450px !important;
} */
/* .sl-container{
    width: 95vw !important;
    padding: 10px;
} */

/* .sl-container:where(.astro-7nkwcw3z) {
    max-width: 49vw;
} */

/* [data-has-sidebar][data-has-toc] .main-pane:where(.astro-67yu43on) {
    --sl-content-margin-inline: auto 0;
    order: 1;
    width: 80vw;
} */

.content-panel .sl-container{
   margin: 0 auto;
}