---
import CustomCard from "./CustomCard.astro";
---

<section
  title="NoCaptchaAi Recognitions"
  class="flex flex-col items-center justify-center mt-10"
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 w-full max-w-[95vw]"
  >
    <CustomCard
      title="ReCAPTCHA v2"
      imageSrc="/icons/recaptcha.png"
      altText="ReCAPTCHA V2"
      link="/products/imagetasks/recaptcha/"
    />
    <CustomCard
      title="BLS OCR Captcha"
      imageSrc="/icons/bls.png"
      altText="BLS OCR"
      link="/products/imagetasks/bls"
    />
    <CustomCard
      title="Cloudflare Token"
      imageSrc="/icons/turnstile.png"
      altText="GeeTest v4"
      link="/products/token/cloudflare/"
    />
    <CustomCard
      title="Turnstile Token"
      imageSrc="/icons/turnstile.png"
      altText="GeeTest v4"
      link="/products/token/turnstile/"
    />
    <CustomCard
      title="OCR/Text Captcha"
      imageSrc="/icons/ocr.svg"
      altText="BLS OCR"
      link="/products/imagetasks/bls"
    />
    <CustomCard
      title="GeeTest v4 Image"
      imageSrc="/icons/geetest.png"
      altText="GeeTest v4"
      link="/products/imagetasks/geetestv4/"
    />
    <CustomCard
      title="GeeTest v4 Token"
      imageSrc="/icons/geetest.png"
      altText="GeeTest v4"
      link="/products/imagetasks/geetestv4/"
    />
    <CustomCard
      title="GeeTest v3 Image"
      imageSrc="/icons/geetest.png"
      altText="GeeTest v4"
      link="/products/imagetasks/geetestv4/"
    />
    <CustomCard
      title="GeeTest v3 Token"
      imageSrc="/icons/geetest.png"
      altText="GeeTest v4"
      link="/products/imagetasks/geetestv4/"
    />
    <CustomCard
      title="AWSWaf Image"
      imageSrc="/icons/awswaf.png"
      altText="AWSWAF"
      link="/products/imagetasks/awswaf/"
    />
    <CustomCard
      title="Binance Image"
      imageSrc="/icons/awswaf.png"
      altText="AWSWAF"
      link="/products/imagetasks/awswaf/"
    />
    <CustomCard
      title="Tiktok Image"
      imageSrc="/icons/awswaf.png"
      altText="AWSWAF"
      link="/products/imagetasks/awswaf/"
    />
    <CustomCard
      title="mtCAPTCHA"
      imageSrc="/icons/mtcaptcha.png"
      altText="Cloudflare Turnstile"
      link="/products/imagetasks/mtcaptcha"
    />
    <CustomCard
      title="mtCAPTCHA Token"
      imageSrc="/icons/mtcaptcha.png"
      altText="Cloudflare Turnstile"
      link="/products/imagetasks/mtcaptcha"
    />
  </div>
</section>
