---
// LinkButtons.astro
import GlassLinkButton from "./GlassLinkButton.astro"; // Adjust path if needed
---

<div class="flex flex-wrap gap-4 my-6 justify-center">
  <GlassLinkButton
    icon="rocket"
    iconPlacement="end"
    target="_blank"
    href="https://dash.nocaptchaai.com/account"
    variant="primary"
  >
    Get ApiKey
  </GlassLinkButton>

  <GlassLinkButton
    icon="right-arrow"
    iconPlacement="end"
    target="_blank"
    href="https://nocaptchaai.com/pricing"
    variant="secondary"
  >
    PRICING
  </GlassLinkButton>
   <GlassLinkButton
    icon="right-arrow"
    iconPlacement="end"
    target="_blank"
    href="https://nocaptchaai.com/pricing"
    variant="secondary"
  >
    Support
  </GlassLinkButton>
</div>